.register{
    background-color: #ffffff;
    color: $black;
    border-radius: 13px;
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: center; 
        padding: 30px;
    }
    
    .register-wrapper {
         flex: 1 1 100%;
         margin-bottom: 20px;
         @media (min-width: 768px) {
                flex: 0 0 48%; 
                margin-bottom: 0; 
        }
        input{
            border-radius: 4px;
            height: 45px;
        }
        .form-text{
            color: #8f8f8f!important;
        }
        .btn-primary{
            color: #fff;
        }
    }
    
    .carousel-wrapper {
         flex: 1 1 100%;
         margin-bottom: 20px;
         @media (min-width: 768px) {
            flex: 0 0 48%; 
            margin-bottom: 0; 
        }
        .carousel {
            width: 100%;
            img{
                aspect-ratio: 2/3;
                height: 400px;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    
    
}